USE [master]
GO
/****** Object:  Database [UJJWAL168516330]    Script Date: 3/8/2019 12:35:23 AM ******/
CREATE DATABASE [UJJWAL168516330]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UJJWAL168516330', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UJJWAL168516330.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UJJWAL168516330_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UJJWAL168516330_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UJJWAL168516330].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UJJWAL168516330]
GO
/****** Object:  Table [dbo].[CANCELLATIONDETAILS]    Script Date: 3/8/2019 12:35:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANCELLATIONDETAILS](
	[CAL_ID] [int] IDENTITY(101,1) NOT NULL,
	[ORDER_ID] [int] NULL,
	[CAL_DATE] [date] NULL,
	[PAYMENT_ID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CARTDETAILS]    Script Date: 3/8/2019 12:35:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARTDETAILS](
	[CART_ID] [int] IDENTITY(101,1) NOT NULL,
	[FOOD_NAME] [varchar](70) NULL,
	[FOOD_PRICE] [numeric](7, 0) NULL,
	[EMAIL_ID] [varchar](60) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPLAINTDETAILS]    Script Date: 3/8/2019 12:35:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPLAINTDETAILS](
	[COMPID] [int] IDENTITY(101,1) NOT NULL,
	[EMAIL_ID] [varchar](60) NULL,
	[NAME] [varchar](50) NULL,
	[MESSAGE] [varchar](400) NULL,
	[RESPONSE] [varchar](400) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CREGDETAILS]    Script Date: 3/8/2019 12:35:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CREGDETAILS](
	[CID] [int] IDENTITY(101,1) NOT NULL,
	[NAME] [varchar](30) NULL,
	[USERNAME] [varchar](30) NULL,
	[EMAIL_ID] [varchar](50) NULL,
	[MOBILE_NO] [numeric](10, 0) NULL,
	[DOB] [date] NULL,
	[GENDER] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DREGDETAILS]    Script Date: 3/8/2019 12:35:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DREGDETAILS](
	[DID] [int] IDENTITY(101,1) NOT NULL,
	[NAME] [varchar](30) NULL,
	[USERNAME] [varchar](30) NULL,
	[EMAIL_ID] [varchar](50) NULL,
	[MOBILE_NO] [numeric](10, 0) NULL,
	[DOB] [date] NULL,
	[DOCUMENT_TYPE] [varchar](20) NULL,
	[DOCUMENT_ID] [varchar](50) NULL,
	[VEHICLE_TYPE] [varchar](30) NULL,
	[VEHICLE_RC_NO] [varchar](50) NULL,
	[GENDER] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEEDBACKDETAILS]    Script Date: 3/8/2019 12:35:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FEEDBACKDETAILS](
	[FBID] [int] IDENTITY(101,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[MESSAGE] [varchar](300) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FOODDETAILS]    Script Date: 3/8/2019 12:35:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FOODDETAILS](
	[FOOD_ID] [int] IDENTITY(101,1) NOT NULL,
	[FOOD_NAME] [varchar](100) NULL,
	[FOOD_PRICE] [numeric](7, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOGINDETAILS]    Script Date: 3/8/2019 12:35:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGINDETAILS](
	[LID] [int] IDENTITY(101,1) NOT NULL,
	[PASSWORD] [varchar](40) NULL,
	[USERTYPE] [varchar](40) NULL,
	[NAME] [varchar](50) NULL,
	[EMAIL_ID] [varchar](60) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERDETAILS]    Script Date: 3/8/2019 12:35:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERDETAILS](
	[ORDER_ID] [int] IDENTITY(1001,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[FOOD_NAME] [varchar](300) NULL,
	[PRICE] [numeric](7, 0) NULL,
	[ADDRESS] [varchar](200) NULL,
	[EMAIL_ID] [varchar](100) NULL,
	[STATUS] [varchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAYMENTDETAILS]    Script Date: 3/8/2019 12:35:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAYMENTDETAILS](
	[PAYMENT_ID] [int] IDENTITY(1001,1) NOT NULL,
	[ORDER_ID] [int] NULL,
	[PAYMENT_MODE] [varchar](20) NULL,
	[STATUS] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RREGDETAILS]    Script Date: 3/8/2019 12:35:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RREGDETAILS](
	[RID] [int] IDENTITY(101,1) NOT NULL,
	[RESTAURANT_NAME] [varchar](50) NULL,
	[OWNER_NAME] [varchar](30) NULL,
	[USERNAME] [varchar](30) NULL,
	[EMAIL_ID] [varchar](50) NULL,
	[MOBILE_NO] [numeric](10, 0) NULL,
	[DOB] [date] NULL,
	[DOCUMENT_TYPE] [varchar](20) NULL,
	[DOCUMENT_ID] [varchar](50) NULL,
	[GENDER] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CANCELLATIONDETAILS] ON 

INSERT [dbo].[CANCELLATIONDETAILS] ([CAL_ID], [ORDER_ID], [CAL_DATE], [PAYMENT_ID]) VALUES (101, 1001, CAST(0x633F0B00 AS Date), 1001)
SET IDENTITY_INSERT [dbo].[CANCELLATIONDETAILS] OFF
SET IDENTITY_INSERT [dbo].[COMPLAINTDETAILS] ON 

INSERT [dbo].[COMPLAINTDETAILS] ([COMPID], [EMAIL_ID], [NAME], [MESSAGE], [RESPONSE]) VALUES (101, N'UJJWAL@GMAIL.COM', N'UJJWAL GUPTA', N'I CANCLED MY ORDER BUT TILL NOW I DID NOT GET MY REFUND HELP ME OUT FOR THIS PLEASE', N'REFUND IN PROGRESS')
INSERT [dbo].[COMPLAINTDETAILS] ([COMPID], [EMAIL_ID], [NAME], [MESSAGE], [RESPONSE]) VALUES (102, N'VIHAAN@GMAIL.COM', N'VIHAAN', N'WHERE IS MY REFUND', N'PLEASE CONTACT OUR CUSTOMER SUPPORT')
INSERT [dbo].[COMPLAINTDETAILS] ([COMPID], [EMAIL_ID], [NAME], [MESSAGE], [RESPONSE]) VALUES (103, N'GUPTA@GMAIL.COM', N'UJJWAL', N'YESTERDAY I ORDERED FOOD FROM YOUR SITE BUT I CANCELED ORDER AND NOW I AM WAITING FOR MY REFUND GUYS PLEASE HELP ME OUT  ', N'CONTACT OUR CUSTOMER SUPPORT')
SET IDENTITY_INSERT [dbo].[COMPLAINTDETAILS] OFF
SET IDENTITY_INSERT [dbo].[CREGDETAILS] ON 

INSERT [dbo].[CREGDETAILS] ([CID], [NAME], [USERNAME], [EMAIL_ID], [MOBILE_NO], [DOB], [GENDER]) VALUES (1108, N'UJJWAL GUPTA', N'UJJWAL', N'UJJWAL@GMAIL.COM', CAST(8505960305 AS Numeric(10, 0)), CAST(0x2A220B00 AS Date), N'MALE')
INSERT [dbo].[CREGDETAILS] ([CID], [NAME], [USERNAME], [EMAIL_ID], [MOBILE_NO], [DOB], [GENDER]) VALUES (1109, N'UJJWAL', N'GUPTA', N'GUPTA@GMAIL.COM', CAST(8505960305 AS Numeric(10, 0)), CAST(0x2A220B00 AS Date), N'MALE')
SET IDENTITY_INSERT [dbo].[CREGDETAILS] OFF
SET IDENTITY_INSERT [dbo].[DREGDETAILS] ON 

INSERT [dbo].[DREGDETAILS] ([DID], [NAME], [USERNAME], [EMAIL_ID], [MOBILE_NO], [DOB], [DOCUMENT_TYPE], [DOCUMENT_ID], [VEHICLE_TYPE], [VEHICLE_RC_NO], [GENDER]) VALUES (1103, N'VIHAAN GUPTA', N'VIHAAN', N'VIHAAN@GMAIL.COM', CAST(9898989898 AS Numeric(10, 0)), CAST(0x233F0B00 AS Date), N'DRIVING LICENCE', N'9648754875', N'2 WHEELER', N'dcdsgfsdc', N'MALE')
INSERT [dbo].[DREGDETAILS] ([DID], [NAME], [USERNAME], [EMAIL_ID], [MOBILE_NO], [DOB], [DOCUMENT_TYPE], [DOCUMENT_ID], [VEHICLE_TYPE], [VEHICLE_RC_NO], [GENDER]) VALUES (1104, N'RAHUL SINGH', N'RAHUL', N'RAHUL@GMAIL.COM', CAST(7065702359 AS Numeric(10, 0)), CAST(0xCA210B00 AS Date), N'DRIVING LICENCE', N'DL-04201101', N'2 WHEELER', N'DL09CP00', N'MALE')
SET IDENTITY_INSERT [dbo].[DREGDETAILS] OFF
SET IDENTITY_INSERT [dbo].[FEEDBACKDETAILS] ON 

INSERT [dbo].[FEEDBACKDETAILS] ([FBID], [NAME], [MESSAGE]) VALUES (101, N'UJJWAL GUPTA', N'Delisious food and taste is so good and service of the food are too good.')
INSERT [dbo].[FEEDBACKDETAILS] ([FBID], [NAME], [MESSAGE]) VALUES (102, N'UJJWAL', N'I AM TOTALLY SATISFIED WITH AhaarINN SERIVCE.')
SET IDENTITY_INSERT [dbo].[FEEDBACKDETAILS] OFF
SET IDENTITY_INSERT [dbo].[FOODDETAILS] ON 

INSERT [dbo].[FOODDETAILS] ([FOOD_ID], [FOOD_NAME], [FOOD_PRICE]) VALUES (101, N'Tikki Burgur', CAST(120 AS Numeric(7, 0)))
INSERT [dbo].[FOODDETAILS] ([FOOD_ID], [FOOD_NAME], [FOOD_PRICE]) VALUES (102, N'ALOO PATTY', CAST(60 AS Numeric(7, 0)))
INSERT [dbo].[FOODDETAILS] ([FOOD_ID], [FOOD_NAME], [FOOD_PRICE]) VALUES (1103, N'ONION PANEER PIZZA', CAST(450 AS Numeric(7, 0)))
SET IDENTITY_INSERT [dbo].[FOODDETAILS] OFF
SET IDENTITY_INSERT [dbo].[LOGINDETAILS] ON 

INSERT [dbo].[LOGINDETAILS] ([LID], [PASSWORD], [USERTYPE], [NAME], [EMAIL_ID]) VALUES (1109, N'1234', N'CUSTOMER', N'UJJWAL GUPTA', N'UJJWAL@GMAIL.COM')
INSERT [dbo].[LOGINDETAILS] ([LID], [PASSWORD], [USERTYPE], [NAME], [EMAIL_ID]) VALUES (1110, N'2345', N'DELIVERY-MAN', N'VIHAAN GUPTA', N'VIHAAN@GMAIL.COM')
INSERT [dbo].[LOGINDETAILS] ([LID], [PASSWORD], [USERTYPE], [NAME], [EMAIL_ID]) VALUES (1111, N'3456', N'RESTAURANT', N'VIVAAN GUPTA', N'VIVAAN@GMAIL.COM')
SET IDENTITY_INSERT [dbo].[LOGINDETAILS] OFF
SET IDENTITY_INSERT [dbo].[ORDERDETAILS] ON 

INSERT [dbo].[ORDERDETAILS] ([ORDER_ID], [NAME], [FOOD_NAME], [PRICE], [ADDRESS], [EMAIL_ID], [STATUS]) VALUES (1002, N'UJJWAL', N'Tikki Burgur', CAST(120 AS Numeric(7, 0)), N'SONIA VIHAR SHIVAJI MOHALLA', N'GUPTA@GMAIL.COM', N'DILEVRED')
SET IDENTITY_INSERT [dbo].[ORDERDETAILS] OFF
SET IDENTITY_INSERT [dbo].[PAYMENTDETAILS] ON 

INSERT [dbo].[PAYMENTDETAILS] ([PAYMENT_ID], [ORDER_ID], [PAYMENT_MODE], [STATUS]) VALUES (1001, 1001, N'COD', N'UNSUCCESSFULL')
INSERT [dbo].[PAYMENTDETAILS] ([PAYMENT_ID], [ORDER_ID], [PAYMENT_MODE], [STATUS]) VALUES (1002, 1002, N'COD', N'SUCCESFULL')
SET IDENTITY_INSERT [dbo].[PAYMENTDETAILS] OFF
SET IDENTITY_INSERT [dbo].[RREGDETAILS] ON 

INSERT [dbo].[RREGDETAILS] ([RID], [RESTAURANT_NAME], [OWNER_NAME], [USERNAME], [EMAIL_ID], [MOBILE_NO], [DOB], [DOCUMENT_TYPE], [DOCUMENT_ID], [GENDER]) VALUES (1105, N'FODDIIEE', N'VIVAAN GUPTA', N'VIVAAN', N'VIVAAN@GMAIL.COM', CAST(8989898989 AS Numeric(10, 0)), CAST(0x433F0B00 AS Date), N'PAN', N'FMEPK8888J', N'MALE')
INSERT [dbo].[RREGDETAILS] ([RID], [RESTAURANT_NAME], [OWNER_NAME], [USERNAME], [EMAIL_ID], [MOBILE_NO], [DOB], [DOCUMENT_TYPE], [DOCUMENT_ID], [GENDER]) VALUES (1106, N'SAGAR RATNA', N'DEEPAK DHAIYA', N'DHAIYA', N'DHAIYA@GMAIL.COM', CAST(8956784525 AS Numeric(10, 0)), CAST(0x6E220B00 AS Date), N'PAN', N'KSDFT7634P', N'MALE')
SET IDENTITY_INSERT [dbo].[RREGDETAILS] OFF
USE [master]
GO
